# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false

CKEDITOR.editorConfig = function( config ) {
//   config.enterMode = 2 ; //disabled <p> completely
config.enterMode = CKEDITOR.ENTER_BR // pressing the ENTER KEY input <br/>
config.shiftEnterMode = CKE DITOR.ENTER_P ; //pressing the SHIFT + ENTER KEYS input <p>
config.autoParagraph = false ; // stops automatic insertion of <p> on focus
} ;

CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR
CKEDITOR.config.forcePasteAsPlainText = true
